<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bulma/css/bulma.min.css">
    <title>Geek Mine</title>
    <script src="../static/javascript/candle.js"></script>
    <script src="https://unpkg.com/lightweight-charts@3.4.0/dist/lightweight-charts.standalone.production.js"></script>
</head>

<body>
    <h2>Candle Chart</h2>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">
                    <div id="candleChart"></div>
            </div>
        </div>
    </body>
    
    </html>