<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css">
    <title>Geek Mine</title>

    <style>
        #candle {
            text-decoration: none;
        }

        .dates div {
            width: 40%;
            margin: 10px;
        }

        .dates div label {
            padding: 10px;
            font-size: large;
        }

        .dates div input {
            margin-top: 7px;
        }

        #candleChart {
            width: 1343px;
            margin: 20px;
            overflow-x: scroll;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="is-size-2 notification is-flex is-justify-content-center"> Graphs</h1>
        <div class="notification mt-5 is-link is-light">
            <div class=" chartBox is-flex is-justify-content-space-between mt-4">
                <div class="buttons has-addons m-3" role="group" aria-label="First group">
                    <button onclick="updateChart(7)" type="button" class="button is-info is-rounded"
                        style="font-size:15px">Weekly</button>
                    <button onclick="updateChart(25)" type="button" style="font-size:15px"
                        class="button is-info is-rounded" style="font-size:15px">Monthly</button>
                    <button onclick="updateChart(120)" type="button" class="button is-info is-rounded"
                        style="font-size:15px">Quaterly</button>
                    <button onclick="updateChart(250)" type="button" class="button is-info is-rounded"
                        style="font-size:15px">Yearly</button>
                    <button onclick="updateChart(3600)" type="button" class="button is-info is-rounded"
                        style="font-size:15px" id="all">All</button>
                </div>
                <div>
                    <a class="button is-info is-rounded mt-3" href="/">Home</a>
                </div>
            </div>

            <div class="is-flex is-justify-content-center dates">
                <div>
                    <label for="startdate">Start Date</label>
                    <input onchange="filterUsingDate()" type="date" id="startdate" value="2020-01-01"
                        class="d1 input is-rounded">
                </div>
                <div>
                    <label for="enddate">End Date</label>
                    <input onchange="filterUsingDate()" type="date" id="enddate" value="2023-03-03"
                        class="d1 input is-rounded">
                </div>
            </div>

            <canvas id="myChart" class="box"></canvas>
        </div>

        <div class="container candleChart">
            <h2 class="is-size-3 has-text-link notification is-link is-light">Candle Chart</h2>
            <div class=" is-flex is-justify-content-center">
                <div class="white-box">
                    <div id="candleChart" class="box"></div>
                </div>
            </div>
        </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
<script src="../static/Javascript/mined.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="../static/javascript/candle.js"></script>
<script src="https://unpkg.com/lightweight-charts@3.4.0/dist/lightweight-charts.standalone.production.js"></script>

<script>
    showGraph()
    $("#startdate").flatpickr({
        allowInput: true,
        enable: [{
            from: "2020-01-01",
            to: "2023-03-03",
        }],
        locale: {
            firstDayOfWeek: 1,
        },
    });

    $("#enddate").flatpickr({
        allowInput: true,
        enable: [{
            from: "2020-01-01",
            to: "2023-03-03",
        }],
        locale: {
            firstDayOfWeek: 1,
        },
    });
</script>

</html>