<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css">
    <link rel="stylesheet" href="../static/styles/home.css">
    <title>Geek Mine</title>

</head>

<body>
    <section class="container is-widemax-desktop">
        <div class="graph m-2">
            <h1 class="is-size-2 has-text-info p-5">Currency Exchange (USD/INR)
                <a href="/graphs" class="button is-info is-rounded">Graphs</a>
            </h1>
        </div>
        <section class="main p-5">
            <div class="box has-background-link-light">
                <form action="/predict" method="post" id="dateForm">
                    <h3 class="is-size-4">Predict for Future date</h3>
                    <section class="section">
                        <label for="date" class="is-size-5 ml-2">Future Date</label>
                        <input type="date" class="input is-rounded mt-1 " name="date" id="date" placeholder="YYYY-MM-DD"
                            data-input required>
                    </section>

                    <div class="submit">
                        <button type="submit" class="button is-info is-rounded">Submit</button>
                    </div>
                </form>

                <form action="/predictRange" method="post" class="mt-5" id="rangeForm">
                    <h3 class="is-size-4">Predict for Future Dates</h3>

                    <section class="section">
                        <label for="startDate" class="is-size-5 ml-2">Future Start Date</label>
                        <input type="date" class="input is-rounded mt-1" name="startDate" id="startDate"
                            placeholder="YYYY-MM-DD" data-input required>
                    </section>

                    <section class="section">
                        <label for="endDate" class="is-size-5 ml-2">Future End Date</label>
                        <input type="date" class="input is-rounded mt-1" name="endDate" id="endDate"
                            placeholder="YYYY-MM-DD" data-input required>
                    </section>

                    <div class="submit">
                        <button type="submit" class="button is-info is-rounded">Submit</button>
                    </div>
                </form>
            </div>
            <div class="content">
                {% if len == -1 %}
                <p class="is-size-3 has-text-centered p-2 m-0">Your Prediction will Display Here</p>
                {% elif len == 0 %}
                <p class="is-size-3 has-text-link has-text-centered p-2 m-0">Predicted Exchnage Rate for
                    <code><strong>Date: {{date}}</strong></code> is
                    <code><strong>{{predictedData}} ₹</strong></code>
                </p>
                <div class="conversion">
                    <section>
                        <label for="USDtoINR">USD</label>
                        <div>
                            <input type="number" min="0" class="input is-rounded" id="USDtoINR" name="USDtoINR"
                                value={{1}}>
                            <button class="button is-info is-rounded" id="usdtoinr">convert</button>
                        </div>
                        <label for="INRtoUSD">INR</label>
                        <div>
                            <input type="number" min="0" class="input is-rounded" id="INRtoUSD" name="INRtoUSD"
                                value={{predictedData}}>
                            <button class="button is-info is-rounded" id="inrtousd">convert</button>
                        </div>
                    </section>
                </div>
                {% else %}
                <p class="is-size-4 has-text-centered p-2 m-0">
                    Predicted Data from <strong><code>{{predictedData[0][0]}}</code></strong> to
                    <strong><code>{{predictedData[len-1][0]}}</code></strong>
                </p>
                <table class="table is-hoverable is-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Predicted Exchange Rate (USD to INR)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if len %}
                        {%for i in range(0,len)%}
                        <tr>
                            <td>{{predictedData[i][0]}}</td>
                            <td>{{predictedData[i][1]}} ₹</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </section>



    </section>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
<script src="../static/Javascript/Home.js">

</script>

</html>